@import "../fonts/static/pretendard.css";

html,
body,
select,
input,
button,
textarea {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Malgun Gothic",
    "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
  font-style: normal;
  word-break: keep-all;
  word-wrap: normal;
  /* height: 100%; */
}
