@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-notion-x/src/styles.css';
@import 'prismjs/themes/prism-tomorrow.css';
@import 'katex/dist/katex.min.css';

@import '@/public/fonts/static/pretendard.css';

html,
body {
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Malgun Gothic',
    '맑은 고딕', helvetica, 'Apple SD Gothic Neo', sans-serif;
  word-break: keep-all;
  word-wrap: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.text-balance {
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-wrap: balance;
}

.notion-container p {
  @apply mb-4 whitespace-pre-line p-0
}

.post-content-page {
  @apply container mx-auto
}

.post-content-layout {
  @apply bg-neutral-50 dark:bg-neutral-700 lg:px-20 lg:py-7 md:px-16 md:py-5 rounded-xl 
}

.column-list {
  @apply flex flex-wrap gap-4
}